/*позиционирование (расположение на странице)*/

header {
    width: 1920px;
    height: 130px;
}

.flex-container-header {
    display: flex;
    align-items: flex-end;
}

#logo {
    width: 139.18px;
    height: 110.08px;
    margin-left: 150px;
    align-self: center;
}

ul li {
    list-style: none;
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    width: 116px;
    text-align: center;
    margin-right: 60px;
    height: 86px;
    margin-top: 44px;
}

li.home {
    margin-left: 480.82px;
    margin-right: 48.5px;
    margin-top: 41px;
    height: 90px;
}

/*Оформление текста*/
li a {
    text-decoration: none;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    color: #000000;
}

#home-text {
    font-weight: 500;
    font-size: 32px;
    line-height: 47px;
    color: #1A7F72;
}


/*Декоративные эффекты (фоны, тени и так далее)*/
header {
    background: #FFFFFF;
    box-shadow: 0px 25px 40px rgba(26, 127, 114, 0.1);
}

li {
    background: url(assets_new/Rectangle.png) bottom no-repeat;
}


/*Анимация и динамические эффекты*/
li {
    visibility: hidden;
}

li:hover {
    visibility: visible;
}

li a {
    visibility: visible;
}